{{#each blogs as |blog| }}
<div class="row mb-8">
  <div>
    <h2>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
      <p>Posted by {{blog.user.username}} on {{format_date blog.date_created}}</p>
    </h2>
  </div>
</div>
{{/each}}
